REGISTER handling is wrong

Per RFC 3261 section 10.2 (Constructing the REGISTER Request), all REGISTERs between a given UE and registrar must have the same Call-ID and continually incrementing CSeqs.However, Quaff generates a new Call-ID for every REGISTER message, which is wrong.
